*{
    box-sizing:border-box;
}
body {
    font-family:'Noto Serif';
    background:#4e5161;
    font-size:20px;

}
.container {
    width:600px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
    background: #3c3d51;
    box-shadow: 0 0 10px #ff0;
    color:#fff;
    

}
h2{
    background:#0f0f2e;
    padding:10px;
   
    text-transform: uppercase;
    font-style: italic;

}
input {
    padding:10px;
    width:100%;
    background-color:#ddd;
    
    border:none;
    color:#000;
    font-weight: bold;
}
ul {
    list-style: none;
    padding:0;
}
ul li {
    height:30px;
    padding:5px;
}
ul li:nth-child(2n) {
background:#0f0f2e;
padding:5px;

}
i {
    float:right;
}